#root {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.error-message {
  color: red;
}

.favourite-button {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  top: 8px;
  right: 8px;
  padding: 5px;
  overflow: hidden;
  border-radius: 50%;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.favourite-button:hover {
  color: red;
  background-color: rgba(218, 27, 27, 0.1);
  border-radius: 100%;
}
