// Dashboard Layout
.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

  &-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .event-form{
    display: grid;
    grid-template-columns:  1fr;
    gap: 0.5rem;
    border-right: 1px solid #ccc;
    padding: 0 0.5rem;
    textarea{
        resize: none;
        width: 500px;
    }
  }
}
